/stencil/stencil
/stencil/*.out
/stencil/*.csv
/osu/pt2pt/multi-bw/quadrant/*.out
/osu/pt2pt/multi-bw/quadrant/*.csv
/osu/pt2pt/multi-bw/quadrant/*.error
/osu/pt2pt/multi-lat/quadrant/*.out
/osu/pt2pt/multi-lat/quadrant/*.csv
/osu/pt2pt/multi-lat/quadrant/*.error
/osu/rma/multi-bw/put/quadrant/*.out
/osu/rma/multi-bw/put/quadrant/*.csv
/osu/rma/multi-bw/put/quadrant/*.error
/osu/rma/multi-bw/get/quadrant/*.out
/osu/rma/multi-bw/get/quadrant/*.csv
/osu/rma/multi-bw/get/quadrant/*.error
/osu/rma/multi-lat/put/quadrant/*.out
/osu/rma/multi-lat/put/quadrant/*.csv
/osu/rma/multi-lat/put/quadrant/*.error
/osu/rma/multi-lat/get/quadrant/*.out
/osu/rma/multi-lat/get/quadrant/*.csv
/osu/rma/multi-lat/get/quadrant/*.error
/stream/stream_omp_ddr
/stream/stream_omp_mcdram
/stream/*.out
/stream/*.csv
/stream/*.error
